<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <h1>New Unit</h1>
    <form action="/unit" method="POST">
        <label for="unit">Unit Number</label>
        <input type="text" name="unit" id="unit">
        <label for="city">City</label>
        <input type="text" name="city" id="city">
        <label for="address">Address</label>
        <input type="text" name="address" id="address">
        <label for="rented">Rented?</label>
        <input type="checkbox" name="rented" id="rented"><br>
        <label for="rentedfrom">Rented From</label>
        <input type="text" name="rentedfrom" id="rentedfrom"><br>
        <label for="renteduntil">Rented Until</label>
        <input type="text" name="renteduntil" id="renteduntil"><br>
        <label for="amount">Rent Amount</label>
        <input type="number" name="amount" id="amount"><br>
        <input type="submit" value="Create New Unit">
    </form>
</body>
</html>